@{
	

  if(IsPost) {

  }
}

<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <meta>A simple form calculator.</meta>
  </head>
	<body>
  <label for="first-number">First Number</label>
  <input id="first-number" name="first type="number"/>
	</body>
</html>
