@{
  double ans = 0;
  if(IsPost) {
    string operation = Request["operator"];
    double firstNumber = Convert.ToDouble(Request["first-number"]);
    double secondNumber = Convert.ToDouble(Request["second-number"]);
    ans = firstNumber + secondNumber;
  }
}

<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
  </head>
	<body>
  <div class="form-row">
    <label for="first-number">First Number: </label>
    <input id="first-number" name="first" type="number"/>
  </div>
  <div class="form-row">
    <label for="second-number">Second Number: </label>
    <input id="second-number" name="second" type="number"/>
  </div>
  <fieldset class='legacy-form-row'>
    <legend>Operation</legend>
    <input id='addition'
           name='addition'
           type='radio'
           value='add'
           checked />
    <label for='addition' class='radio-label'>Addition</label>
    <input id='subtraction'
           name='subtraction'
           type='radio'
           value='sub' />
    <label for='subtraction' class='radio-label'>Subtraction</label>
    <input id='multiplication'
           name='multiplication'
           type='radio'
           value='multiply' />
    <label for='subtraction' class='radio-label'>Multiplication</label>
    <input id='division'
           name='division'
           type='radio'
           value='divide' />
    <label for='subtraction' class='radio-label'>Division</label>
  </fieldset>
  <div class="form-row">
    <label for="answer">Answer: </label>
    <p id="answer" name="answer">@ans</p>
  </div>
  <div class="form-row">
    <button>Submit</buttons>
  </div>
  </body>
</html>
